<h2>Formularios Angular</h2>



<form [formGroup]="form" novalidate autocomplete="off" (ngSubmit)="onSubmit()">
  <app-button (click)="organizarElemento()">Organizar</app-button>
  <app-button (click)="onPatchValue()">Agregar Texto</app-button>
  <br/><br/>

  <app-form-field
  label="Input Facundo"
  [required]="true"
  [control]="form.controls.input"
  [isInline]="isInline"
  [patternError]="regexErrors.number"
  >
    <app-input formControlName="input" ></app-input>
  </app-form-field>

</form>
